html, body{
    height: 100%;
    margin: 0;
}

img{
    vertical-align: middle;
}
/*///////////////////////////////////////////////////////////////////////

HEADER

///////////////////////////////////////////////////////////////////////*/

.entete{
    height: auto;
}

.entete__nav__nav{
    justify-content: space-between;
    background-color: white;
}

.entete__nav__nav ul{
    align-self: center;
}

.entete__nav__nav ul li{
    font-family: 'Roboto', sans-serif;
    font-size: 1.1em;
    text-transform: uppercase;
    font-weight: 700;
    margin: 0 2em;
}

.entete__nav__nav ul li a{
    color: #f2b42d;
}

.entete__nav__button-icon .bar{
    width: inherit;
    height: 4px;
    background-color: #58F2AA;
    margin-top: 5px;
    border-radius: 2px;
}

main{
    min-height: 100%;
    margin-bottom: -120px;
    z-index: -10;
}

/*///////////////////////////////////////////////////////////////////////

VIDEO

///////////////////////////////////////////////////////////////////////*/

.box__vid{
    height: calc(100vh - 145px);
    width: 100%;
    padding: 0;
    position: relative;
    background-color: black;
}

.box__vid-video{
    height: inherit;
    width: inherit;
}

#centered-play-pause-button{
    position: absolute;
    height: 200px;
    top: 35%;
    left: 45%;
}

#centered-play-pause-button img{
    height: inherit;
}

.box__vid-controls{
    width: 100%;
    position: absolute;
    bottom: 0;
    background-color: rgb(69, 194, 135);
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.box__vid-controls progress[value]{
    -webkit-appearance: none;
    appearance: none;
    height: inherit;
    width: 80%;
}

.box__vid-controls progress[value]::-webkit-progress-bar{
    background-color: #b5ffdf;
    border: 0;
}

.box__vid-controls progress[value]::-webkit-progress-value{
    background-color: #72a891;
}

.box__vid-controls button{
    border: 0;
    background-color: transparent;
}

.box__vid-controls button img{
    height: 30px;
}

.box__homebuttons{
    height: 50vh;
}

.box__homebuttons .row{
    height: inherit;
}

.box__homebtn_button{
    height: inherit;
    position: relative;
}

.box__homebtn_button:first-of-type{
    background-image: url("../images/alambic.jpg");
    background-position: center;
    background-size: cover;
}

.box__homebtn_button:last-of-type{
    background-image: url("../images/public.jpg");
    background-position: center;
    background-size: cover;
}

.box__homebtn_button-cover{
    cursor: pointer;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.box__homebtn_button-titre{
    width: 12em;
    text-align: center;
    font-size: 1.2em;
    font-weight: 700;
    background-color: white;
    padding: 1em;
}

.vert{
    background-color: rgba(88, 242, 172, 0.5);
}

.vert .box__homebtn_button-titre{
    border: 3px solid #59F2AB;
}

.orange .box__homebtn_button-titre{
    border: 3px solid #F1B42E;
}

.orange{
    background-color: rgba(240, 180, 48, 0.5);
}

.box__form__inside, .box__coordonnees__inside{
    width: 60%;
    display: block;
    margin: auto;
}

/*///////////////////////////////////////////////////////////////////////

SLIDESHOW PAGE A PROPOS

///////////////////////////////////////////////////////////////////////*/

.slideshow-container{
    width: 100%;
    height: calc(95vh - 150px);
    overflow: hidden;
    position: relative;
    margin: auto;
}

.mySlides{
    display: none;
}

.mySlides img{
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white !important;
    font-weight: bold;
    font-size: 2em;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
}

.next {
    right: 0.5em;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: rgba(255,255,255,0.8);
}

.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.slideshow-nav{
    height: 3em;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: rgba(255, 252, 151, 0.8);
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #F1B42E;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
}

@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

/*///////////////////////////////////////////////////////////////////////

INFOS PAGE A PROPOS

///////////////////////////////////////////////////////////////////////*/

.box-1{
    background-color: #59F2AB;
}

.box__text h1{
    padding: 0.5em;
    display: block;
    margin: 1em auto;
    text-align: center;
    font-size: 1.5em;
    font-weight: 700;
}

.box-1 h1{
    background-color: white;
    width: 11em;
}

.box-2 h1{
    background-color: #59F2AB;
    width: 13em;
}

.box__text-par{
    width: 85%;
    margin: 0 auto 2em;
    padding: 1em;
}

.box-1 .box__text-par{
    background-color: white;
}

.box-2 .box__text-par{
    background-color: #59F2AB;
}

.box__text-par h2{
    font-size: 1.2em;
    font-weight: 700;
}

.box__text-par p{
    margin-bottom: 2em;
}

/*///////////////////////////////////////////////////////////////////////

CONTACT

///////////////////////////////////////////////////////////////////////*/

.content__form{
    margin-top: 7em;
}

.form-control
{
    margin: 2em 0em;
    border: 2px solid #f2b42d;
    border-radius: 0;
}

.form-control:focus{
    border-color: #aa7f23
}

.box__coordonnees-titre
{
    color: #f2b42d;
}


/*///////////////////////////////////////////////////////////////////////

MENTIONS LEGALES

///////////////////////////////////////////////////////////////////////*/

.box__mention__title
{
    width: 25%;
    height: 60px;
    margin: auto;
     margin-bottom: 1.5em;
    
    line-height: 50px;
    text-align: center;
    
    font-size: 2em;
    border: 2px solid #f2b42d;
    
    color: #f2b42d;
}

.box__mention__text
{
    width: 75%;
    margin: auto;
    
    text-align: justify;
}

.box__mention__text h2
{
    font-size: 1.3em;
}

/*///////////////////////////////////////////////////////////////////////

FOOTER

///////////////////////////////////////////////////////////////////////*/
.footer, .push{
    height: 120px;
}

.footer{
    background-color: #222222;
}

.footer__columns{
    height: inherit;
}

.footer__column{
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer__column *{
    text-align: center;
    font-size: 1.2em;
    color: #bbbbbb;
}

.footer__column a:hover{
    color: #bbbbbb;
}

.footer__copyright{
    margin: 0 auto;
}

.footer__column-icons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer__lien-icone{
    width: 80px;
}

/*///////////////////////////////////////////////////////////////////////

MEDIA QUERIES

///////////////////////////////////////////////////////////////////////*/

@media screen and (max-width: 650px){
    footer{
        height: 20vh;
    }
}
