/*///////////////////////////////////////////////////////////////////////

HEADER

///////////////////////////////////////////////////////////////////////*/

.entete{
    height: 150px;
}

.entete__nav__nav{
    justify-content: space-between;
}

.entete__nav__nav ul{
    align-self: center;
}

.entete__nav__nav ul li{
    font-family: 'Roboto', sans-serif;
    font-size: 1.1em;
    text-transform: uppercase;
    font-weight: 700;
    margin: 0 2em;
}

.entete__nav__nav ul li a{
    color: #f2b42d;
}

.entete__nav__button-icon .bar{
    width: inherit;
    height: 4px;
    background-color: #58F2AA;
    margin-top: 5px;
    border-radius: 2px;
}

/*///////////////////////////////////////////////////////////////////////

VIDEO

///////////////////////////////////////////////////////////////////////*/

.box__vid{
    height: calc(100vh - 150px);
    width: 100%;
    padding: 0;
    position: relative;
    background-color: black;
}

.box__vid-video{
    height: inherit;
    width: inherit;
}

.box__vid-controls{
    width: 100%;
    position: absolute;
    bottom: 0;
    background-color: #59F2AB;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.box__vid-controls progress{
    height: inherit;
    width: 90%;
}

.box__vid-controls button{
    border: 0;
    background-color: transparent;
}

.box__vid-controls button img{
    height: 30px;
}

.box__homebuttons{
    height: 50vh;
}

.box__homebuttons .row{
    height: inherit;
}

.box__homebtn_button{
    height: inherit;
    position: relative;
}

.box__homebtn_button:first-of-type{
    background-image: url("../images/alambic.jpg");
    background-position: center;
    background-size: cover;
}

.box__homebtn_button:last-of-type{
    background-image: url("../images/public.jpg");
    background-position: center;
    background-size: cover;
}

.box__homebtn_button-cover{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.box__homebtn_button-titre{
    width: 12em;
    text-align: center;
    font-size: 1.2em;
    background-color: white;
    padding: 1em;
}

.vert{
    background-color: rgba(88, 242, 172, 0.5);
}

.orange{
    background-color: rgba(240, 180, 48, 0.5);
}

.box__form__inside, .box__coordonnees__inside{
    width: 60%;
    display: block;
    margin: auto;
}

/*///////////////////////////////////////////////////////////////////////

FOOTER

///////////////////////////////////////////////////////////////////////*/

.footer{
    height: 120px;
    background-color: #222222;
}

.footer__columns{
    height: inherit;
}

.footer__column{
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer__column *{
    text-align: center;
    font-size: 1.2em;
    color: #bbbbbb;
}

.footer__column a:hover{
    color: #bbbbbb;
}

.footer__copyright{
    margin: 0 auto;
}

.footer__column-icons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer__lien-icone{
    width: 80px;
}
